:root {
	--font-text: Monrope, sans-serif;
	--font-title: Arial, sans-serif;
  
	--text-sm: 12px;
	--text-xs: 14px;
	--text-base: 16px;
	--text-lg: 20px;
	--text-xl: 28px;

  --black-100: #e5e5e5;
  --black-200: #cccccc;
  --black-300: #999999;
  --black-400: #666666;
  --black-500: #333333;
  --black-600: #1f1f1f;
  --black-700: #141414;
  --black-800: #0a0a0a;
  --black-900: #000000; 

  --white-100: #ffffff; 
  --white-200: #f2f2f2;
  --white-300: #e6e6e6;
  --white-400: #d9d9d9;
  --white-500: #cccccc;
  --white-600: #b3b3b3;
  --white-700: #999999;
  --white-800: #808080;
  --white-900: #777777;

  --blue-100: #e6e7ff;
  --blue-200: #bfc3ff;
  --blue-300: #99a0ff;
  --blue-400: #737cff;
  --blue-500: #4c61ff; 
  --blue-600: #3f51e6;
  --blue-700: #323fbf;
  --blue-800: #262fa6;
  --blue-900: #1a1f80;

  --primary: var(--blue-500);
  --primary-light: var(--blue-400);
  --bg: var(--black-800);
  --bg-light: var(--black-700);
  --text-color: var(--white-200);
  --text-color-light: var(--black-400);
}

@media (prefers-color-scheme: light) {
  :root {
  	--bg: var(--white-300);
	  --bg-light: var(--white-400);
	  --text-color: var(--black-800);
	  --text-color-light: var(--black-600);
  }
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: var(--bg);
	color: var(--text-color);
	font-family: var(--font-text);
}

ul {
	list-style: none;
}

.button {
	border: none;
	height: 40px;
	padding: 4px 16px;
	font-size: var(--text-base);
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--white-500);
	color: var(--text-color);
}

.button-primary {
	background: var(--primary);
}

.button-primary:hover {
	background: var(--primary-light);
}


/* Header */

.header {
	height: 80px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-left {
	display: flex;
	align-items: center;
	column-gap: 32px;
}

.header-right {
	display: flex;
	align-items: center;
	column-gap: 16px;
}

.header-logo {
	height: 70px;
}

.menu-list {
	display: flex;
	align-items: center;
	column-gap: 16px;
  font-size: var(--text-base);
	font-family: var(--font-title);
}

.header-icon {
	background: var(--bg-light);
	padding: 12px;
	border-radius: 50%;
	font-size: var(--text-lg);
}


/* Banner */

.banner {
	max-width: 1200px;
	margin: 0 auto;
	height: calc(100vh - 80px);
	display: grid;
	grid-template-columns: 2fr 3fr;
	position: relative;
	align-items: center;
	padding-bottom: 100px;
}

.banner-note {
	text-transform: uppercase;
	color: var(--primary);
	font-size: var(--text-xl);
}

.banner-title {
	margin-top: 12px;
	font-family: var(--font-title);
	font-size: 94px;
	text-transform: uppercase;
	font-weight: 500;
	line-height: 100%;
}

.banner-right {
	display: flex;
	align-items: center;
	justify-content: center;
}

.banner-img {
	width: 400px;
}

/* Benefits */

.benefits {
	position: absolute;
	bottom: 16px;
	left: 0;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 24px;
}

.benefit-item {
	background: var(--bg-light);
	padding: 32px;
	font-size: var(--text-base);
	display: flex;
	align-items: center;
	column-gap: 16px;
}

.benefit-icon {
	font-size: 40px;
	color: var(--primary);
}

.benefit-title {
	margin-bottom: 8px;
}

.benefit-text {
	color: var(--text-color-light);
}




































