* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: Aria, monospace, sans-serif;
	background: #1f2122;
	color: #fff;
	padding: 16px;
}

.link {
	color: #fff;
	font-size: 32px;
	text-decoration: none;
}

.link:hover {
	color: blue;
}

.link:active {
	color: yellow;
}

.link:visited {
	color: green;
}

.input-text {
	background: #333;
	border: 1px solid #555;
	width: 100%;
	height: 40px;
	margin-top: 16px;
	padding: 8px;
	color: #fff;
}

.input-text:focus {
	outline: none;
	border: 1px solid blue;
}

.input-text:disabled {
	background: #000;
}

.input-text:required {
	border: 1px solid green;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 16px;
	margin-top: 16px;
	height: 200px;
}

.grid div {
	background: #111;
}

.grid div:nth-child(2n) {
	background: green;
}

.list {
	padding: 16px;
}

.list li::marker {
	color: green;
}

.block {
	padding-left: 16px;
}

.element1::before {
	content: "";
	position: absolute;
	transform: translateX(-16px) translateY(3px);
	width: 10px;
	height: 10px;
	background: green;
}

.element1::first-letter {

}

.number {
	margin-top: 16px;
	font-size: 44px;
}

.number::after {
	content: "9";
	font-size: 18px;
	font-weight: 700;
	color: green;
	position: absolute;
	transform: translateX(4px);
}

















